<div class="nav-div">
  <h1 class="logo"><a href="/">My First Blog</a></h1>
  <nav>
    <li><a href="/">Home</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/blogs/create">New blog post</a></li>
    <li><a href="/404">404 error</a></li>
  </nav>
</div>
